<div class="sidebar ">
    <div class="sidebar-header">
        <h3>MENU</h3>
    </div>
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="addEmp">Place Appointment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="viewEmp">View Appointment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contact">Contact Us</a>
      </li> 
    </ul>
  </div>
