<div class="content">
    <div class="row ">
        <div class="d-flex justify-content-end col-sm-12">
        <div class="container p-3 my-3 border position-relative">
    
            <legend><h1>FITNESS</h1></legend>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam fermentum purus eget sollicitudin fringilla. Integer justo dui, gravida vitae lobortis consequat, mollis pharetra diam. In arcu odio, dignissim sit amet aliquam nec, elementum nec purus. Aliquam egestas, nunc ut mattis facilisis, velit metus consequat mi, et pharetra diam nisl quis metus. Nullam sed nisl laoreet, interdum sem a, ultricies metus. Nullam et lorem magna. Aenean augue enim, varius a ex vitae, scelerisque tempor lectus. Quisque tellus ipsum, venenatis id nisl sit amet, consectetur auctor urna. Praesent vitae odio egestas, vulputate est eu, iaculis est. Pellentesque cursus enim quis velit imperdiet, interdum consequat neque viverra.

                Vivamus semper fringilla tortor, sit amet placerat odio congue id. Vivamus pharetra elit at urna viverra, nec lacinia nunc tincidunt. In hac habitasse platea dictumst. Vestibulum at feugiat quam, eget aliquam elit. Quisque in hendrerit arcu. Phasellus in diam fringilla diam ultrices malesuada. Mauris sit amet ornare mi. Quisque venenatis mi eu arcu varius, vitae tincidunt ex sagittis. Quisque ac neque a massa pellentesque maximus sed id urna. Quisque mattis ornare leo. Integer accumsan nisi nec felis condimentum, non interdum diam viverra. Etiam feugiat ante id suscipit ultrices. Etiam non egestas metus. Integer varius porttitor erat.
                
                Mauris imperdiet elit non tincidunt condimentum. Vivamus fringilla lorem quis nunc commodo, vitae ultrices felis volutpat. Nullam venenatis auctor neque, non mattis augue fermentum vel. Phasellus maximus lacus nec malesuada semper. Nulla venenatis lectus mi, at aliquam enim sodales in. Suspendisse vitae interdum felis. Aliquam in fringilla ante. Mauris ultricies neque sit amet porttitor vestibulum. Pellentesque eget mi nunc. Pellentesque ut lectus et nibh rutrum rhoncus blandit eu ante. Praesent sagittis nulla vel massa aliquam varius. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed in risus urna. Maecenas nec gravida ex. Nulla mollis varius nisl, vitae venenatis dui accumsan in. Sed eleifend purus ac ipsum iaculis, eget euismod metus dignissim.
                
                Ut tempor aliquam risus eget finibus. Nunc in laoreet neque. Integer euismod vehicula elit at molestie. Donec auctor malesuada viverra. Mauris libero ante, blandit sed bibendum at, gravida mollis sem. Sed non blandit diam. Aliquam vel est sagittis orci tincidunt convallis. Nunc in tincidunt enim, ut porta lectus. Maecenas nec urna eget arcu feugiat tristique ac at tortor.</p>
        </div>
        </div>
        <div class="col-sm-12">
            <div class="container p-3 border position-relative">
                <a class="btn btn-outline-dark btn-lg btn-block" routerLink="addEmp">Apply for trainer</a>
            </div>
        </div>
       
    </div>
 </div>
